CKT[[:space:]]V2.rar filter=lfs diff=lfs merge=lfs -text
Kicad/Discharge[[:space:]]for[[:space:]]cad[[:space:]]only/dissscharhgeeee/Discharge[[:space:]]Ckt[[:space:]]assembled.SLDASM filter=lfs diff=lfs merge=lfs -text
Kicad/Discharge[[:space:]]for[[:space:]]cad[[:space:]]only/dissscharhgeeee/Discharge[[:space:]]Ckt[[:space:]]assembled_V2.SLDASM filter=lfs diff=lfs merge=lfs -text
